#LoginUI{
	input[type=password], input[type=email], input[type=text]{
		transition: background 0.3s;
	}
	#Title{
		font-size: 220%;
		text-align: center;
		margin-bottom: 10px;
	}
	table{
		overflow-y: hidden;
		transition: transform 0.2s,height 0.2s, opacity 0.15s;
		//transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
		display: block;
		th{
			padding: 10px 0;
			padding-left: 5px;
		}
	}
	
	table[show=true]#nonpremium{
		height: 116px;
	}
	table[show=true]#premium{
		height: 165px;
	}

	table[show=false]{
		opacity:0;
		height:0;
		//transform: rotateX(90deg)
	}
	#LoginLoad{
		background: rgba(0,0,0,0.2);
		position: absolute;
		width: 100%;
		height: 100%;
		border: 5px solid white;
		margin: -10px;
		padding: 5px;
		box-shadow: 0 3px 13px rgba(0,0,0,0.2), inset 0 0 15px rgba(0, 0, 0, 0.05);
		border-radius: 3px;
	}
	#LoginLoadWrapp{
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity 0.2s;
		pointer-events: none;
	}
	#LoginLoadWrapp:not([show]) *{
		display: none;
	}
	#LoginLoadWrapp[show]{
		opacity: 1;
		transition: opacity 0.2s;
		pointer-events: all;
	}
	input[valid=true]{
		background: rgb(190, 255, 190);
	}
	input[valid=false]{
		background: rgb(255, 190, 190);
	}
}