#LoginUI{
	#Title{
		font-size: 220%;
		text-align: center;
		margin-bottom: 10px;
	}
	table{
		overflow-y: hidden;
		transition: transform 0.2s, opacity 0.15s;
		//transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
		display: block;
		
		th{
			padding: 10px 0;
			padding-left: 5px;
		}
	}
	
	#nonpremium{
		height: 106px;
		margin-bottom: -106px;
	}

	table[show=false]{
		opacity:0;
		transform: rotateX(90deg)
	}
}