*{
    margin: 0px;
    padding: 0px;
    user-select: none;
}
*:focus{
    outline: none;
}
input{
    font-size: inherit;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.06);
    padding: 0.2em;
}
input[type=button]{
    user-select: none;
}
select{
    border: 1px solid #E0E0E0;
    font-size: inherit;
    padding: 0.2em;
}

body, html{
    width: 100%;
    height: 100%;
    background: white;
    font-family: Arial;
    font-weight: lighter;
    font-size: 20px;
    overflow: hidden;
}

.CenterBoth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ui{
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s;

    position: absolute;
    top: 0px;
    left: 0px;

    overflow: auto;
    background: white;
}
.ui[showing]{
    transform: none;
    opacity: 1;
}

.hidden{
    position: absolute;
    top: -99999px;
    left: -99999px;
    opacity: 0;
    z-index: -99999;
}
input[type=checkbox]{
    -webkit-appearance: none;
    appearance: none;

    width: 1em;
    height: 1em;
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    overflow: hidden;
    background: #F0F0F0;
}
input[type=checkbox]:checked{
    background: #2586EB;
}

input[type=checkbox]::after{
    content:" ";
    
    display: block;
    background: #2586EB;
    transition: width 0.2s,height 0.2s,margin 0.2s, border-radius 0.1s;
    
    margin: 0.5em;
    width: 0px;
    height: 0px;
    border-radius: 100%;
}
input[type=checkbox]:checked::after{
    margin: 0em;
    width: 1em;
    height: 1em;
    border-radius: 0%;
}

input[type=button]{
    border: 1px solid #E0E0E0;
    background: #F0F0F0;
    box-shadow: 0 1px 6px rgba(0,0,0,0.15);
    padding: 0.2em 0.6em;
    cursor: pointer;
    transition: background 0.1s, box-shadow 0.3s, color 0.3s;
    font-size: inherit;
}
input[type=button]:hover{
    background: #EEEEEE;
}
input[type=button]:active{
    background: #E0E0E0;
    box-shadow: 0 0.5px 3px rgba(0,0,0,0.1S);
}
input[type=button][disabled]{
    pointer-events: none;
    color: gray;
    box-shadow:none;
}

*::-webkit-scrollbar{
	background: #F0F0F0;
}
*::-webkit-scrollbar:vertical{
	width:0.85em;
}
*::-webkit-scrollbar:horizontal{
	height: 0.85em;
}

*::-webkit-scrollbar-button:horizontal{
	width:0.85em;
}
*::-webkit-scrollbar-button:horizontal:increment{
	background: url(../../assets/ArrowRight.png) no-repeat center, #E0E0E0;
}
*::-webkit-scrollbar-button:horizontal:decrement{
	background: url(../../assets/ArrowLeft.png) no-repeat center, #E0E0E0;
}


*::-webkit-scrollbar-button:vertical{
	height:0.85em;
}
*::-webkit-scrollbar-button:vertical:increment{
	background: url(../../assets/ArrowDown.png) no-repeat center, #E0E0E0;
}
*::-webkit-scrollbar-button:vertical:decrement{
	background: url(../../assets/ArrowUp.png) no-repeat center, #E0E0E0;
}

*::-webkit-scrollbar-thumb{
	image-rendering: pixelated;
	background: #E0E0E0
}
*::-webkit-scrollbar-thumb:hover,*::-webkit-scrollbar-thumb:active{
	background:#D0D0D0;
}
*::-webkit-scrollbar-corner{
	background:#E0E0E0;
}